@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.typing{
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    text-shadow: 2px 0 0 #000,
        -2px 0 0 #000, 
        0 2px 0 #000, 
        0 -2px 0 #000, 
        1px 1px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 5px #000;
    overflow: hidden;
    border-right: 0.15em solid black;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    max-width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    padding: 3px;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}